// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@use "../abstracts";
@use '../vendors/bootstrap';
@use '~bootstrap/scss/mixins' as bs_mixins;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.1rem;
}

body {
  @extend .min-vh-100;
}

img {
  @extend .img-fluid;
}
