// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
@use "./variables";

@mixin iconify($name, $height: 2rem, $width: 2rem, $color: currentColor) {
  #{$name} {
    svg {
      height: $height;
      width: $width;
      color: $color;
    }
  }
}