// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary: #ee0979;
$secondary: #ff6a00;

$gray-100: #F5F3F0;
$gray-200: #EDEBE8;
$gray-300: #E0DBD5;
$gray-500: #B8B1A9;
$gray-700: #999794;
$gray-800: #666563;
$white: #FFFFFF;
$black: #24120D;

$body-color: $black;
$text-color: $black;
$body-bg: $white;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1220px,
        xxl: 1400px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;