// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@use "../abstracts";
@use "../vendors/bootstrap";
@use '~bootstrap/scss/mixins' as bs_mixins;

footer {
  .iconify {
    svg {
      height: 2rem;
      width: 2rem;
      margin-right: .5rem;
      margin-bottom: .5rem;
    }
  }

  @include abstracts.iconify(icon-devicon-cypressio, 3rem, 3rem, abstracts.$white)
}