/*
@charset "UTF-8";
*/

// 1. Configuration and helpers
@use 'abstracts';

// 2. Vendors
@use 'vendors';

// 3. Base stuff
@use 'base';

// 4. Layout-related sections
@use 'layout';

// 5. Components
@use 'components';

// 6. Page-specific styles
@use 'pages';

// 7. Themes
@use 'themes';

/*
// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Global CSS
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";

.iconify {
  svg {
    height: 2rem;
    width: 2rem;
    margin-right: .5rem;
  }
}*/
